*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(/image/dark-gray.jpg);
    color: white;
}
.paragraph h1{
    color: bisque;
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
    margin-top: 2%;
}
 .paragraph p{
    padding: 30px;
    font-size: larger;
    color: skyblue;
 }
 #e{
    padding: 30px;
 }
 #thankyou{
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
 }

@media(max-width:500px){
   .paragraph p {
      padding: 20px;
   }
   #e{
      padding: 20px;
   }
}
@media(max-width:450px){
   .paragraph h1{
      font-size: x-large;
      text-decoration: underline;
      text-decoration-color:cadetblue
   }
   .paragraph p{
      padding: 15px;
      font-size: small;
   }
   #e{
      padding: 15px;
      font-size: small;
   }
}